name: Automated API tests using Postman CLI

on: 
  push:
  workflow_dispatch:

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
      - name: Run API tests
        run: |
          postman collection run "16725446-e3d2d753-7364-423b-9750-925bef24d764" -e "16725446-3b6e3068-dd55-4189-8e64-71ed0ec89ba2"
      - name: Lint Spec
        run: |
          postman spec lint 9d813d85-ced4-42de-8efa-0d7233605ba8
    
